In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder, MinMaxScaler 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [2]:
df = pd.read_csv("CovidData.csv")

In [3]:
df.shape

(2499, 12)

In [4]:
df.head()

,Country,Age,Gender,fever,Bodypain,Runny_nose,Difficulty_in_breathing,Nasal_congestion,Sore_throat,Severity,Contact_with_covid_patient,Infected
0,China,10,Male,102,1,0,0,0,1,Mild,No,0
1,Italy,20,Male,103,1,1,0,0,0,Moderate,Not known,1
2,Iran,55,Transgender,99,0,0,0,1,1,Severe,No,0
3,Republic of Korean,37,Female,100,0,1,1,0,0,Mild,Yes,1
4,France,45,Male,101,1,1,1,1,0,Moderate,Yes,1

In [5]:
pd.value_counts(df['Gender'])

Male           1257
Female         1208
Transgender      34
Name: Gender, dtype: int64

In [6]:
pd.value_counts(df["Country"])

France         115
Bulgaria        92
China           83
Singapore       71
Vietnam         69
              ...
Monaco           2
Israel           2
Austria          2
Czechia          2
Switzerland      2
Name: Country, Length: 97, dtype: int64

In [7]:
pd.value_counts(df['Severity'])

Mild        1591
Moderate     525
Severe       383
Name: Severity, dtype: int64

In [8]:
pd.value_counts(df["Contact_with_covid_patient"])

No           1203
Yes           638
Not known     633
yes            25
Name: Contact_with_covid_patient, dtype: int64

In [9]:
df["Contact_with_covid_patient"]= df["Contact_with_covid_patient"].str.lower()

In [10]:
pd.value_counts(df["Contact_with_covid_patient"])

no           1203
yes           663
not known     633
Name: Contact_with_covid_patient, dtype: int64

In [11]:
df.drop(columns = ['Country'], inplace = True)

In [12]:
gender_label = LabelEncoder()
df["Gender"]= gender_label.fit_transform(df["Gender"])

severe_label = LabelEncoder()
df["Severity"]= severe_label.fit_transform(df["Severity"])

contact_label = LabelEncoder()
df["Contact_with_covid_patient"]= contact_label.fit_transform(df["Contact_with_covid_patient"])

In [13]:
df.head()

,Age,Gender,fever,Bodypain,Runny_nose,Difficulty_in_breathing,Nasal_congestion,Sore_throat,Severity,Contact_with_covid_patient,Infected
0,10,1,102,1,0,0,0,1,0,0,0
1,20,1,103,1,1,0,0,0,1,1,1
2,55,2,99,0,0,0,1,1,2,0,0
3,37,0,100,0,1,1,0,0,0,2,1
4,45,1,101,1,1,1,1,0,1,2,1

In [14]:
pd.value_counts(df['Gender'])

1    1257
0    1208
2      34
Name: Gender, dtype: int64

In [15]:
pd.get_dummies(df['Gender'])

      0  1  2
0     0  1  0
1     0  1  0
2     0  0  1
3     1  0  0
4     0  1  0
...  .. .. ..
2494  0  1  0
2495  1  0  0
2496  1  0  0
2497  1  0  0
2498  1  0  0

[2499 rows x 3 columns]

In [16]:
gender_df = pd.get_dummies(df['Gender'])
gender_df.columns = ['Females','Males','Trans']

In [17]:
gender_df.head()

   Females  Males  Trans
0        0      1      0
1        0      1      0
2        0      0      1
3        1      0      0
4        0      1      0

In [18]:
severity_df = pd.get_dummies(df['Severity'])
severity_df.columns = ['Mild','Moderate','Severe']

contact_df = pd.get_dummies(df['Contact_with_covid_patient'])
contact_df.columns = ['No','Not Known','yes']

In [19]:
contact_df.head()

   No  Not Known  yes
0   1          0    0
1   0          1    0
2   1          0    0
3   0          0    1
4   0          0    1

In [20]:
severity_df.head()

   Mild  Moderate  Severe
0     1         0       0
1     0         1       0
2     0         0       1
3     1         0       0
4     0         1       0

In [21]:
y= df["Infected"]
df.drop(columns = ['Gender','Severity','Contact_with_covid_patient','Infected'], inplace =True)

In [22]:
x=pd.concat([df,gender_df,severity_df,contact_df],axis = 1)

In [23]:
x.head()

,Age,fever,Bodypain,Runny_nose,Difficulty_in_breathing,Nasal_congestion,Sore_throat,Females,Males,Trans,Mild,Moderate,Severe,No,Not Known,yes
0,10,102,1,0,0,0,1,0,1,0,1,0,0,1,0,0
1,20,103,1,1,0,0,0,0,1,0,0,1,0,0,1,0
2,55,99,0,0,0,1,1,0,0,1,0,0,1,1,0,0
3,37,100,0,1,1,0,0,1,0,0,1,0,0,0,0,1
4,45,101,1,1,1,1,0,0,1,0,0,1,0,0,0,1

## Feature Scaling 
- **Normalization**
  n= (xi- Min(x)) / (Max(x) - Min(x))
- **Standardization**
  z = (x[i] - Mean(x)) / std(x)

In [24]:
minmax = MinMaxScaler()
x_scale = minmax.fit_transform(x)

In [27]:
x_scale[0]

array([0.        , 0.66666667, 1.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 1.        , 0.        ,
       1.        , 0.        , 0.        , 1.        , 0.        ,
       0.        ])

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x_scale, y, test_size = 0.25 , random_state = 101  )

In [34]:
x_scale.shape

(2499, 16)

In [35]:
x_train.shape

(1874, 16)

In [41]:
logistic = LogisticRegression()
logistic.fit(x_train, y_train)

LogisticRegression()

In [37]:
y_pred = logistic.predict(x_test)

In [38]:
accuracy_score(y_test,y_pred)

0.9408

In [39]:
from sklearn.metrics import confusion_matrix

In [40]:
confusion_matrix(y_test, y_pred)

array([[277,  18],
       [ 19, 311]], dtype=int64)